{% extends 'base.html' %}

{% block title %}
    {{ object.name }}
{% endblock %}

{% block content %}
	<div class="container">
        <h1 align="center">{{ object.name }}</h1>
        {% if user.id == object.id %}
            <div class="card border-danger mb-3">
                <div>
                    <a class="btn btn-danger" href="/create/post/" style="width: 100%;">написать новый пост</a>
                </div>
            </div>
        {% endif %}
        {% if posts %}
            {% for object in posts %}
                {% if user not in object.readers.all %}
                    <a href="/post/{{ object.id }}/">
                        <div class="card border-primary mb-3">
                            <div class="card-header">{{ object.blog_id }}</div>
                            <div class="card-body text-primary">
                                <h3 class="card-title">{{ object.title }}</h3>
                                <p class="card-text">{{ object.text }}</p>
                            </div>
                            <div class="card-footer">Время создания: {{ object.created_at }}</div>
                            <div>
                                <a class="btn btn-primary" href="/change_post_mark/{{ object.id }}/" style="width: 100%;">пометить пост как прочитанный</a>
                            </div>
                        </div>
                    </a>
                {% else %}
                    <a href="/post/{{ object.id }}/">
                        <div class="card text-white bg-primary mb-3">
                            <div class="card-header">{{ object.blog_id }}</div>
                            <div class="card-body text-white">
                                <h3 class="card-title">{{ object.title }}</h3>
                                <p class="card-text">{{ object.text }}</p>
                            </div>
                            <div class="card-footer">Время создания: {{ object.created_at }}</div>
                            <div>
                                <a class="btn btn-primary" href="/change_post_mark/{{ object.id }}/" style="width: 100%;">пометить пост как непрочитанный</a>
                            </div>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>В блоге нет ни одного поста!</p>
        {% endif %}
	</div>
{% endblock %}